body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    width: 50vw;
    margin: auto;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}